@charset "UTF-8";

* {

/* 	box-sizing:border-box;
	margin: 0;
	padding: 0; 
	outline:1px solid red;
*/
}


.wrapper{
	background-color: #7c7d7c;
	max-height:900px;
	max-width:1220px;
}

.board {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	font-size:0px;
	width: 780px;
	height: 780px;
 	background-image: url("../images/board.jpg"); 
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;

}


.player-panel{
	width:420px;
	height:780px;
	display:inline-block;
	vertical-align: top;
}
#playerbox1{
	display:none; 
	background-color:#e9ede8;
}
#playerbox2{
	display:none; 
	background-color:#e9ede8;
}
#playerbox3{
	display:none; 
	background-color:#e9ede8;
}
#playerbox4{
	display:none; 
	background-color:#e9ede8;
}
.top-row{
	height:100px;
	width:100%;
}
.mid-row{

	height:580px;
	width:100%;
}
.bot-row{
	height:100px;
	width:100%;
}

.left-col{
	
	height:100%;
	width:100px;
		display:inline-block;
}

.mid-col{
	height:100%;
	width:580px;
	display:inline-block;
	vertical-align:top;
	/*background-color:#CDE6D0;*/
}

.right-col{
	
	height:100%;
	width:100px;
	display:inline-block;
	vertical-align:top;
}

.corner{

	display:inline-block;
	width:100px;
	height:100px;
}
.top-space{

	display:inline-block;
	height:100px;
	width:64.4444444444px;
}

.side-space{
	width:100px;
	height:64.444444444px;
}


.user-message {
	margin-left:10px;
	height:auto;
	width:auto;
	background-image: linear-gradient(#a6a6a6, #d6d6d6);
	padding:10px;
	border-radius:15px;
}

h3{
	
	font-size: 14pt; !important;
	word-spacing:140px;
}

div.dice-bar{
	width: contain;
	margin: 0px;
}

#messagesTextArea{
	border-radius:10px;
	display:inline-block;
	width:280px;
	height:100px;
}
#usersTextArea{
	border-radius:10px;
	display:inline-block;
	width:100px;
	height:100px;
}

#messagetextField{
	width:250px;
}

.activity-log{
	font-size:10pt;
	height:190px;
	width: 80%;
	overflow:auto;
	background-color: white;
	border-radius: 6px;
	border: 2px solid black;
}
.activity-log p{
	margin:0px;
	padding:0px;
}

#trade{
	font-size: 12pt;
}

#housing{
	font-size: 12pt;
}
#headers{
	font-size: 14pt;
}
#space-card{
	height: 160px;
	width: 140px;
	position: absolute;
	left: 520px;
	top: 500px;
	border: 3px solid black;
	background: white;
	display: none;
}

.space-card-top{
	border-bottom: 3px solid black; 
	height: 25%; width: 100%;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}

.space-card-text{
	font-size: 6pt;
	margin: 0px;
	font-weight: bold;
}

.space-card-row{
	margin: 0px;
}

#player1{
	background-size: contain;
	background-image: url("../images/dog.png");
	display:none; 
	height: 30px; 
	width: 30px;
}
#player2{
	background-size: contain;
	background-image: url("../images/ship.png");
	display:none; 
	height: 30px; 
	width: 30px;
}
#player3{
	background-size: contain;
	background-image: url("../images/thimble.png");
	display:none; 
	height: 30px; 
	width: 30px;
}
#player4{
	background-size: contain;
	background-image: url("../images/boot.png");
	display:none; 
	height: 30px; 
	width: 30px;
}



.active-player {
-webkit-box-shadow:0px 0px 5px 5px #6d94fd ;
-moz-box-shadow:0px 0px 5px 5px #6d94fd ;
box-shadow:0px 0px 5px 5px #6d94fd ;
}
#trade-zone{
	border:1px solid red;
	width:50%;
	height:250px;
	background-color:white;
	padding:10px;
	margin:10px;
	display:none;

}

#trade-zone p{
	font-size:12pt;

}

.font-14{
	font-size: 14pt;
	font-weight: bold;
}
.playerInfo{
	height: 30px;
}

.railroad-card-top{
	height: 30%;
	width: 100%;
	text-align: center;
	align-content: center;
}

.railroad-name{
	width: 80%;
	
}

.railroad-card-top img{
	height: 50px;
	width: 50px;
}
.train-name{
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 8pt;
	font-weight: bold;
}

.utility-or-railroad{
	padding-top: 5px;
	padding-left: 5px
}

#inner-space-card{
	height: 145px;
	width: 125px;
	border: 2px solid black;
	padding-left: 10px;
	padding-right: 10px;
}

.utility-card-text{
	font-size: 6pt;
	margin: 0px;
	text-indent: 15px;
	line-height: 1;
}

.left-die{
	height: 50px;
	width: 50px;
}
.right-die{
	height: 50px;
	width: 50px;
}
#buy-button{
	display:none;
}
#end-button{
	display:none;
}
#useJailCardButton{
	display:none;
}
#payFineButton{
	display:none;
}
#roll-button{
	display:none;
}
#dice1{
	height: 50px;
	width: 50px;
}
#dice2{
	height: 50px;
	width: 50px;
}
#buildingBody{
	display: none;
}
.activity-log{
	padding:0; 
	margin:0; 
	font-size:12pt;
}
