@charset "UTF-8";

* {

	box-sizing:border-box;
	margin: 0;
	padding: 0;
	outline:1px solid red;

}


.wrapper{
	max-height:900px;
	max-width:1200px;
}

.board {
	font-size:0px;
	width: 780px;
	height: 780px;
 	background-image: url("../images/board.jpg"); 
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;

}

.player-panel{
	width:400px;
	height:780px;
	display:inline-block;
	vertical-align: top;
}

.top-row{
	height:100px;
	width:100%;
}
.mid-row{

	height:580px;
	width:100%;
}
.bot-row{
	height:100px;
	width:100%;
}

.left-col{
	
	height:100%;
	width:100px;
		display:inline-block;
}

.mid-col{
	height:100%;
	width:580px;
	display:inline-block;
	vertical-align:top;
}

.right-col{
	
	height:100%;
	width:100px;
	display:inline-block;
	vertical-align:top;
}

.corner{

	display:inline-block;
	width:100px;
	height:100px;
}
.top-space{

	display:inline-block;
	height:100px;
	width:64.4444444444px;
}

.side-space{
	width:100px;
	height:64.444444444px;
}


.user-message {
	height:100px;
	width:90%;
}

h3{
	font-size: 14pt; !important;
}

div.dice-bar{
	width: contain;
	margin: 0px;
}
